{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}
{{ block.super }}
<div class="container">
    <div class="wrapper">
        <div class="page-title">
            {% editable page.title %}<h2>{{ page.title }}</h2>{% endeditable %}
        </div>
        <div class="page-body">
            {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filters|safe }}
            {% endeditable %}
        </div>
    </div>
</div>
{% endblock %}
